<footer class="container-fluid bg-4 text-center">
    <a href="#myPage" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>សម្រាប់​ការប្រើប្រាស់ Metneak Web Application​ សូមចូលទៅកាន់គេហទំព័រ: <a href="https://www.w3schools.com">www.metneak.com</a></p>
</footer>