
<script type="text/javascript" src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="/lib/slick/slick.min.js"></script>
<script type="text/javascript" src="/js/scrollbar.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/use/main.js"></script>
<script type="text/javascript" src="/js/use/user-profile.js"></script>
<script src="/js/select2.min.js"></script>
<script src="https://foliotek.github.io/Croppie/croppie.js"></script>
<script>
    $('select').select2({

    });

</script>