<link rel="stylesheet" type="text/css" href="/css/animate.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/line-awesome.css">
<link rel="stylesheet" type="text/css" href="/css/line-awesome-font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" type="text/css" href="/lib/slick/slick.css">
<link rel="stylesheet" type="text/css" href="/lib/slick/slick-theme.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/responsive.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
<!-- google font -->
<link href="https://fonts.googleapis.com/css?family=Nokora" rel="stylesheet">
<link href="/css/select2.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://foliotek.github.io/Croppie/croppie.css">